body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #3498db, #2c3e50);
}
  
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 500px; 
    margin: auto;
    background-color: #424242;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
  
.display {
    grid-column: span 4;
    background-color: #333;
    padding: 15px;
    text-align: right;
    font-size: 1.8em; 
    color: #fff;
    border-bottom: 2px solid #555;
}
  
button {
    padding: 25px;
    font-size: 1.5em; 
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #616161;
    transition: background-color 0.3s, transform 0.1s;
}

  
button:hover {
    background-color: #757575;
}
  
button:active {
    background-color: #424242;
    transform: scale(0.95);
}
  
button.operator {
    background-color: #f59042;
}

button.operator:active {
    background-color: #d46e36;
}

button.operator:hover {
    background-color: #e77e3d;
}
  
button.equal {
    background-color: #5cb85c;
}

button.equal:hover {
    background-color: #4cae4c;
}
  
button.equal:active {
    background-color: #47a447;
}
  
button.clear {
    background-color: #d9534f;
}

button.clear:hover {
    background-color: #c9302c;
}
  
button.clear:active {
    background-color: #a12e2b;
}
  
button.zero {
    grid-column: span 2;
}
  
button.zero:hover {
    background-color: #757575;
}
  
button.zero:active {
    background-color: #424242;
}